@import './colors';

@mixin center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin roundeddiv() {
    @include center-flex;
    border-radius: 12px;
    padding: 10px;
}

$phone: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

body {
    background-color: $main;
}

.App {
    @include center-flex;
    height: 100vh;
}

.content {

    @include center-flex;

    margin-top: -80px;

    .title {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-size: 50px;
        color: $pink;

        @media (max-width: $laptop) {
            font-size: 5vw;
        }

        @media (max-width: $tablet) {
            font-size: 6vw;
        }

        @media (max-width: $phone) {
            font-size: 7vw;
        }
    }

    .convertor {
        @include roundeddiv;
        padding: 30px;
        background-color: $mainlight;
        box-shadow: 1px 1px 10px;

        .inputsDiv {
            margin: 20px;
            display: flex;
            justify-content: space-between;

            input {
                background-color: $main;
                border-radius: 5px;
                font-size: 20px;
                color: $green;
                height: 40px;
                margin-bottom: 10px;
            }

            .swapButton {
                transition: 0.3s;
                color: $main;
                font-size: 40px;
                padding: 10px;
                margin: 10px 30px;

                @media (max-width: $tablet) {
                    margin: auto;
                    padding: 20px;
                }
            }

            .swapButton:hover {
                color: $green;
            }

            @media (max-width: $tablet) {
                flex-direction: column;
            }
        }

        .updatedDiv {
            width: 100%;
            margin-top: 20px;
            font-size: smaller;
            text-align: right;
            span {
                color: $purple;
                font-style: italic;
            }
        }
    }
}

.footer {
    @include center-flex;
    flex-direction: row;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    background-color: $main;
    position: fixed;
    bottom: 0;
    .links {
        @include center-flex;
        flex-direction: row;
        width:40%;
        @media (max-width: $tablet) {
            width: 80%;
        }
        justify-content: space-between;
        a {
            transition: 0.3s;
            font-size: 60px;
            color: $mainlight;
            @media (max-width: $tablet) {
                font-size: 40px;
            }
        }
        a:hover {
            color: $purple;
        }
    }
}