@import './colors';

@mixin center-flex {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

@mixin roundeddiv() {
    @include center-flex;
    border-radius: 12px;
    padding: 10px;
}

$phone: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

body {
    background-color: $main;
}

.content {

    @include center-flex;

    .title {
        padding-top: 20px;
        font-size: 40px;
        color: $pink;
        @media (max-width: $laptop) {
            font-size: 4vw;
        }
        @media (max-width: $tablet) {
            font-size: 5vw;
        }
        @media (max-width: $phone) {
            font-size: 6vw;
        }
    }

    .convertor {
        @include roundeddiv;
        padding: 30px;
        background-color: $mainlight
    }


}